/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-test {
    overflow: hidden;
    background-image: url("/assets/white-wine-bg2.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: $global-spacing--huge 0px;
    position: relative;
}

.overlay--white {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(255,255,255,0.9);
}


.timeline-wine--container {
	width: 100%;

	img {
			margin: 0 auto -2px auto;
			display: block;
	}
}


.timeline {
    -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
	h3 {
		margin-bottom: $global-spacing--tiny/2 !important;
	}

	p {
		font-size: 14px;

		margin-bottom: $global-spacing--tiny;

		&:last-child {
			margin-bottom: 0px;
		}
	}

	hr {
		border-top: 1px solid $font-color;
		margin-bottom: $global-spacing--tiny;
		width: 70px;
	}
}

.timeline ul {
	// padding: 50px 0;
	padding: 0px;
	margin-left:0px;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #757575;
}

.timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 5px $font-color solid;
	background-color: #fff;
}

.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: $global-spacing--small;
	background-color: $color-grey-lightest;
}

.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 16px 16px 16px 0;
	border-color: transparent $color-grey-lightest transparent transparent;
}

.timeline ul li:nth-child(even) div {
	left: -439px;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 16px 0 16px 16px;
	border-color: transparent transparent transparent $color-grey-lightest;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
	transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
	background-image: url('/assets/wine-timeline-center.svg');
	background-repeat: no-repeat;
	background-position: center;
	transition: none !important;
	background-size: 14px;
}

.timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
	transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@include mq($until: desktop) {
	.timeline ul li div {
		width: 310px;
	}
	.timeline ul li:nth-child(even) div {
		left: -350px;
	}
}

@include mq($until: tablet) {

	.timeline-wine--container {
		img {
			margin: 0 0 -2px 2px;
		}
	}

	.timeline ul li {
		margin-left: 20px;
	}
	.timeline ul li div {
		width: calc(100vw - 135px);
	}
	.timeline ul li:nth-child(even) div {
		left: 45px;
	}
	.timeline ul li:nth-child(even) div::before {
		left: -15px;
		border-width: 16px 16px 16px 0;
		border-color: transparent $color-grey-lightest transparent transparent;
	}
}