.o-wrapper.wow.fadeInUp
	.section-header
		h1.section-header--title Events
		hr.section-header--line
		.section-header--star-container
			.ion.ion-star
			.ion.ion-star
			.ion.ion-star
			.ion.ion-star
			.ion.ion-star

		p Lorem ipsum dolor sit amet, prima adipisci ad pro. Detracto appareat mel id, vix ei noluisse lucilius neglegentur. Lorem utroque qui eu. Eius causae aliquam ea nam, te autem virtute vix. Ad labitur forensibus ius, lorem tibique sit at.


.o-wrapper.events--section
	.o-layout
		.o-layout__item(class="u-1/1 u-1/3@tablet")
			.event-box--container(style="background-image: url('/assets/wine-tasting.jpg')")
				.events-overlay
				.events-box--text
					h5 Wine Tasting
			.events-box--bottom
				.calender-container.u-margin-none
					.ion.ion-calendar
					span 14/07/2018
				button#event1--btn.e-button.white.events-box--button.is-active(onclick="changeEvent('event1')")
					| MORE INFO
				#event1--pointer.events-box--pointer.is-active


		.o-layout__item(class="u-1/1 u-1/3@tablet")
			.event-box--container(style="background-image: url('/assets/wine-dine.jpg')")
				.events-overlay
				.events-box--text
					h5 Wine &amp; Dine
			.events-box--bottom
				.calender-container.u-margin-none
					.ion.ion-calendar
					span 21/07/2018
				button#event2--btn.e-button.white.events-box--button(onclick="changeEvent('event2')")
					| MORE INFO
				#event2--pointer.events-box--pointer


		.o-layout__item(class="u-1/1 u-1/3@tablet")
			.event-box--container(style="background-image: url('/assets/wine-tour.jpg')")
				.events-overlay
				.events-box--text
					h5 Vineyard Tours
			.events-box--bottom
				.calender-container.u-margin-none
					.ion.ion-calendar
					span 23/07/2018
				button#event3--btn.e-button.white.events-box--button(onclick="changeEvent('event3')")
					| MORE INFO
				#event3--pointer.events-box--pointer


#event1.events-showcase--container.u-position--relative.is-active
	.showcase--background-filler
	.showcase--background-img.animated.fadeIn(style="background-image: url('/assets/wine-tasting.jpg');")

	.o-wrapper.u-position--relative
		.o-layout
			.o-layout__item.showcase-text--layout__item(class="u-1/1 u-1/3@tablet")
				svg(class="wine-triangle isshowcase" width="120px" height="695px" preserveAspectRatio="none" viewBox="0 0 194 695" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
					g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
						g(id="Artboard" transform="translate(-62.000000, -34.000000)" fill="#FFFFFF")
							polygon(id="Rectangle-9" points="255.494318 34 255.494318 729 62 729")

				.showcase-text--container.animated.fadeInLeft
					h2 Wine Tasting
					hr.animated.fadeInLeft

					.calender-container.animated.fadeInLeft
						.ion.ion-calendar
						span 14/07/2018

					p.animated.fadeInLeft Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

					p.animated.fadeInLeft Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

					button.e-button.animated.fadeInLeft
						| BOOK NOW

			.o-layout__item(class="u-2/3")


#event2.events-showcase--container.u-position--relative
	.showcase--background-filler
	.showcase--background-img.animated.fadeIn(style="background-image: url('/assets/wine-dine.jpg');")

	.o-wrapper.u-position--relative
		.o-layout
			.o-layout__item.showcase-text--layout__item(class="u-1/1 u-1/3@tablet")
				svg(class="wine-triangle isshowcase" width="120px" height="695px" preserveAspectRatio="none" viewBox="0 0 194 695" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
					g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
						g(id="Artboard" transform="translate(-62.000000, -34.000000)" fill="#FFFFFF")
							polygon(id="Rectangle-9" points="255.494318 34 255.494318 729 62 729")

				.showcase-text--container.animated.fadeInLeft
					h2 Wine &amp; Dine
					hr

					.calender-container.animated.fadeInLeft
						.ion.ion-calendar
						span 21/07/2018

					p.animated.fadeInLeft Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

					p.animated.fadeInLeft Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

					button.e-button.animated.fadeInLeft
						| BOOK NOW

			.o-layout__item(class="u-2/3")


#event3.events-showcase--container.u-position--relative
	.showcase--background-filler
	.showcase--background-img.animated.fadeIn(style="background-image: url('/assets/wine-tour.jpg');")

	.o-wrapper.u-position--relative
		.o-layout
			.o-layout__item.showcase-text--layout__item(class="u-1/1 u-1/3@tablet")
				svg(class="wine-triangle isshowcase" width="120px" height="695px" preserveAspectRatio="none" viewBox="0 0 194 695" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
					g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
						g(id="Artboard" transform="translate(-62.000000, -34.000000)" fill="#FFFFFF")
							polygon(id="Rectangle-9" points="255.494318 34 255.494318 729 62 729")

				.showcase-text--container
					h2.animated.fadeInLeft Vineyard Tours
					hr.animated.fadeInLeft

					.calender-container.animated.fadeInLeft
						.ion.ion-calendar
						span 23/07/2018

					p.animated.fadeInLeft Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

					p.animated.fadeInLeft Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

					button.e-button.animated.fadeInLeft
						| BOOK NOW

			.o-layout__item(class="u-2/3")