.footer
	.o-wrapper.u-position--relative
		.footer--line.footer--line-first
		.footer--line.footer--line-second
		.o-layout.o-layout--middle
			.o-layout__item(class="u-1/1 u-1/3@tablet")
				img.footer--logo(src="/assets/banner-logo.svg")
				p 51 made Up Street 75001, France
				p Phone: 02392 123456
				p Mobile: 07775 123456
			.o-layout__item(class="u-1/1 u-1/3@tablet")
				p CONTACT US
				p FAQ
				p PRIVACY POLICY

			.o-layout__item(class="u-1/1 u-1/3@tablet")
				.ion.ion-social-twitter
				.ion.ion-social-facebook
				.ion.ion-social-instagram
				p JOIN OUR MAILING LIST
				input(type="text")
				button.generic-btn.inverted.u-margin--auto.u-display--block SUBMIT

			.o-layout__item(class="u-1/1")
				p.u-margin-top &copy; Copywrite 2017, Kingmakers Wine. All Rights Reserved. 




//- Javascript
script(src="vendor/jquery.js")
script(src="js/scripts.js")