doctype 5
meta(charset="utf-8")
title Kingmakers Winery
meta(name="description" content="arko")
meta(name="author" content="Matthew Pilcher")
meta(name="viewport" content="width=device-width, initial-scale=1")
	
//- Fonts
link(href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet")


link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")

//- CSS
//- link(ref="stylesheet" type="text/css" href="vendor/animate.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

link(rel="stylesheet" type="text/css" href="css/main.css")

//- Ionicon temp
link(rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")