#navigation.overlay
	.overlay-fullscreen(onclick='toggleNavigation()')
	.overlay-content
		img(src="/assets/banner-logo.svg")
		hr
		a(href='#home') HOME
		a(href='#about') ABOUT
		a(href='#wines') WINES
		a(href='#events') EVENTS

	//- .overlay-contact
	//- 	h5 Kingmakers Winery &amp; Eatery
	//- 	hr
	//- 	p The Wineyard, Kingweston, Somerset, TA11 6JH



button.hamburger.hamburger--spin.nav--burger(type='button' onclick='toggleNavigation()')
	span.hamburger-box
		span.hamburger-inner