#navigation.overlay
	.overlay-content
		a.navigation-animation.navigation-animation--1(href='#') Home
		a.navigation-animation.navigation-animation--2(href='#') About
		a.navigation-animation.navigation-animation--3(href='#') Projects
		a.navigation-animation.navigation-animation--4(href='#') Blog
		a.navigation-animation.navigation-animation--5(href='#') Contact


button.hamburger.hamburger--spin.nav--burger(type='button' onclick='toggleNavigation()')
	span.hamburger-box
		span.hamburger-inner