#navigation.overlay
	.overlay-content
		a.navigation-animation.navigation-animation--1(href='#') Home
		a.navigation-animation.navigation-animation--2(href='#') About
		a.navigation-animation.navigation-animation--3(href='#') Wines
		a.navigation-animation.navigation-animation--3(href='#') Events



button.hamburger.hamburger--spin.nav--burger(type='button' onclick='toggleNavigation()')
	span.hamburger-box
		span.hamburger-inner