html
	head
		include /_includes/_header
	body
		include /_includes/_navigation

		.video-container.u-margin-bottom
			video.fillWidth(autoplay loop)
				source(src='/assets/On-the-vine.mp4', type='video/mp4')
				| Your browser does not support the video tag. I suggest you upgrade your browser.
				source(src='/assets/On-the-vine.webm', type='video/webm')
				| Your browser does not support the video tag. I suggest you upgrade your browser.
			//- .poster.hidden(style="display:none;")
			//- 	img(src='/assets/On-the-vine.jpg', alt='')

			.banner-content
				.o-wrapper.o-wrapper--size-small
					img.banner-logo.animated.fadeIn(src="/assets/banner-logo.svg")
					hr.banner-line.animated.fadeIn
					h2.banner-sub-title.animated.fadeIn(data-wow-offset="10" data-wow-delay="0.5s") The flavours of nature fit for royalty

		.o-wrapper.wow.fadeInUp
			.section-header
				h1.section-header--title About
				hr.section-header--line
				.section-header--star-container
					.ion.ion-star
					.ion.ion-star
					.ion.ion-star
					.ion.ion-star
					.ion.ion-star

				p Lorem ipsum dolor sit amet, prima adipisci ad pro. Detracto appareat mel id, vix ei noluisse lucilius neglegentur. Lorem utroque qui eu. Eius causae aliquam ea nam, te autem virtute vix. Ad labitur forensibus ius, lorem tibique sit at.

		.o-wrapper.o-wrapper--size-huge(style="overflow: hidden;")
			section.timeline
				.timeline-wine--container
					img(src="/assets/wine-timeline.svg")
				ul
					li
						div
							h3 1932
							hr
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.

							p Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
					li
						div
							h3 1957
							hr
							p Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.

							p Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
					li
						div
							h3 1989
							hr
							p Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
					li
						div
							h3 2001
							hr
							p In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.

							p Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
					

		.o-wrapper.wow.fadeInUp
			.section-header
				h1.section-header--title Wines
				hr.section-header--line
				.section-header--star-container
					.ion.ion-star
					.ion.ion-star
					.ion.ion-star
					.ion.ion-star
					.ion.ion-star

				p Lorem ipsum dolor sit amet, prima adipisci ad pro. Detracto appareat mel id, vix ei noluisse lucilius neglegentur. Lorem utroque qui eu. Eius causae aliquam ea nam, te autem virtute vix. Ad labitur forensibus ius, lorem tibique sit at.


		.u-position--relative
			.showcase--background-img.isflipped(style="background-image: url('/assets/wine1-bg.jpg');")
			.showcase--background-filler.isflipped

			.o-wrapper.u-position--relative
				.o-layout.o-layout--middle.o-layout--stretch

					.o-layout__item(class="u-1/1 u-2/3@tablet")
						.wine-preview--text-container.isflipped.wow.fadeInLeft
							.wine-preview--text
								h2 LEESE-FITCH
								hr
								h4 White Wine

								p Lorem ipsum dolor sit amet, ante suscipit aliquet, justo dui at, sodales quis iaculis. Quisque quis, donec interdum fermentum. Augue a at, risus metus. Aliquet nisl, nunc magna lacus.
								p Enim ante accumsan, vitae vitae. Vitae nec, vitae saepe, arcu molestie id. Fusce quod, phasellus vel sapien, luctus vestibulum. Vel varius, et nec, id velit wisi.
								p Pede vitae, metus erat et. Senectus amet, nunc mauris non. Arcu auctor elit, risus volutpat vitae, placerat libero accumsan.

							button.e-button.inverted BUY NOW



					.o-layout__item.u-position--relative.u-background-color--white(class="u-1/3")
						div
							img.wine-preview--img.wow.fadeIn(src="/assets/white-wine.png")

						svg(class="wine-triangle" width="120px" height="695px" preserveAspectRatio="none" viewBox="0 0 194 695" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
							g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
								g(id="Artboard" transform="translate(-62.000000, -34.000000)" fill="#FFFFFF")
									polygon(id="Rectangle-9" points="255.494318 34 255.494318 729 62 729")


		.u-position--relative
			.showcase--background-filler
			.showcase--background-img(style="background-image: url('/assets/wine2-bg.jpg');")

			.o-wrapper.u-position--relative
				.o-layout.o-layout--middle.o-layout--stretch
					.o-layout__item.u-position--relative.u-background-color--white(class="u-1/3")
						div
							img.wine-preview--img.wow.fadeIn(src="/assets/red-wine.png")

						svg(class="wine-triangle isflipped" width="120px" height="695px" preserveAspectRatio="none" viewBox="0 0 194 695" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
							g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
								g(id="Artboard" transform="translate(-62.000000, -34.000000)" fill="#FFFFFF")
									polygon(id="Rectangle-9" points="255.494318 34 255.494318 729 62 729")

					.o-layout__item(class="u-1/1 u-2/3@tablet")
						.wine-preview--text-container.wow.fadeInRight
							.wine-preview--text
								h2 LEESE-FITCH
								hr
								h4 White Wine

								p Lorem ipsum dolor sit amet, prima adipisci ad pro. Detracto appareat mel id, vix ei noluisse lucilius neglegentur. Lorem utroque qui eu.

								p Vix an minim recusabo gubergren. An aeque dicam senserit pro, cu ius offendit eleifend prodesset, id impetus debitis hendrerit usu.
							
							button.e-button.inverted BUY NOW



		.u-position--relative
			.showcase--background-img.isflipped(style="background-image: url('/assets/wine1-bg.jpg');")
			.showcase--background-filler.isflipped

			.o-wrapper.u-position--relative
				.o-layout.o-layout--stretch.o-layout--middle

					.o-layout__item(class="u-1/1 u-2/3@tablet")
						.wine-preview--text-container.isflipped.wow.fadeInLeft
							.wine-preview--text
								h2 LEESE-FITCH
								hr
								h4 White Wine

								p Lorem ipsum dolor sit amet, prima adipisci ad pro. Detracto appareat mel id, vix ei noluisse lucilius neglegentur. Lorem utroque qui eu.

								p Vix an minim recusabo gubergren. An aeque dicam senserit pro, cu ius offendit eleifend prodesset, id impetus debitis hendrerit usu.
							
							button.e-button.inverted BUY NOW



					.o-layout__item.u-position--relative.u-background-color--white(class="u-1/3")
						div
							img.wine-preview--img.wow.fadeIn(src="/assets/white-wine.png")

						svg(class="wine-triangle" width="120px" height="695px" preserveAspectRatio="none" viewBox="0 0 194 695" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
							g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
								g(id="Artboard" transform="translate(-62.000000, -34.000000)" fill="#FFFFFF")
									polygon(id="Rectangle-9" points="255.494318 34 255.494318 729 62 729")

		include /_includes/_events

		include /_includes/_footer