///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;


$global-spacing--tiny: 16px !default;
$global-spacing--small: 24px !default;
$global-spacing--normal: 32px !default;
$global-spacing--large: 48px !default;
$global-spacing--huge: 64px !default;