.u-text-align--left {
	text-align: left;
}

.u-text-align--center {
	text-align: center;
}

.u-text-align--right {
	text-align: right;
}

.u-inline-block {
	display: inline-block;
}

.u-position--relative {
	position: relative;
}

.u-background-color--white {
	background-color: #ffffff;
}